<main>
  <div class="swiper-container">
    <h3>PRODUCTOS</h3>
    <div class="swiper-wrapper">
      {{#each product}}
        <div class="swiper-slide">
          <img src={{this.thumbnail}}>
          <p class="sw-title">{{this.title}}</p>
          <p class="sw-price">$ {{this.price}}</p>
        </div>
      {{/each}}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</main>

<script src={{scriptPlus}}></script>
<script src={{scriptView}}></script>